<style>
footer {
  overflow:hidden;
  width:950px;
  margin:0 auto;
  padding-bottom:50px;
}
footer marquee {
  margin:0 0 8px;
  padding:10px 0;
  background-color:#fff;
}
footer marquee mark {
  margin-right:50px;
  background:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:22px;
  font-weight:100;
}
footer marquee mark time {
  margin-right:15px;
}
footer .services {
  width:101.5%;
  margin-bottom:25px;
  font-size:0;
}
footer .services li {
  zoom:1;
  display:inline-block;
  width:20%;
  list-style:none;
  vertical-align:top;
}
footer .services dl {
  min-height:25px;
  margin-right:15px;
  padding:20px 0;
  background-color:#fff;
  box-shadow:2px 2px 1px 0 rgba(0,0,0,0.3);
  text-align:center;
  cursor:pointer;
}
footer .services dl:hover {
  background-color:#fafafa;
}
footer .services dl dt {
  margin-bottom:5px;
  font-size:17px;
  font-weight:bold;
  line-height:130%;
}
footer .services dl dd {
  color:#929292;
  font-size:12px;
}
footer address {
  display:block;
  clear:both;
  color:#929292;
  font-style:normal;
  line-height:160%;
}
footer address a {
  color:#929292;
  text-decoration:none;
}
footer address a:hover {
  text-decoration:underline;
}
@media (max-width: 950px) {
  footer {
    width:auto;
    margin: 0 15px;
  }
  footer .services li {
    width:100%;
    margin-bottom:10px;
  }
}
</style>
<footer>
  <marquee>
    <mark>동X산업 특허권 평가상담</mark>
    <mark>에X스정밀 특허권 평가상담</mark>
    <mark>최X희 저작권 평가상담</mark>
    <mark>꽁C드가구 저작권 평가상담</mark>
    <mark>노X통닭 구월지점 영업권 평가상담</mark>
    <mark>김X애 특허권 평가상담</mark>
    <mark>시X니처 영업권 평가상담</mark>
    <mark>지X짐 영업권 평가상담</mark>
    <mark>대X산업 특허권 평가상담</mark>
    <mark>BJ김XX 상표권 평가상담</mark>
    <mark>가수이XX 저작권 평가상담</mark>
    <mark>바X김밥 대치점 영업권평가상담</mark>
  </marquee>
  <ul class="services">
    {% for service in site.services %}
    <li>
      <dl onclick="location.href = '/contact'">
      <dt>{{ service.title }}</dt>
      {% for item in service.service_items %}
        <dd>{{ item }}</dd>
      {% endfor %}
      </dl>
    </li>
    {% endfor %}
  </ul>
  <address>
    <p><strong>무형자산평가 업무실적 1위</strong></p>
    <p>
      {{ site.company_name }}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      대표이사 : {{ site.ceo_name }}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      사업자등록번호 : {{ site.business_number }}
    </p>
    <p>{{ site.company_address }}</p>
    <!--
    <p>
      TEL. <a href="tel:{{ site.company_tel }}">{{ site.company_tel }}</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      FAX. <a href="tel:{{ site.company_fax }}">{{ site.company_fax }}</a>
    </p>
    -->
    <p>
      E-mail. <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </p>
  </address>
</footer>
<script>
  $('marquee mark').prepend('<time>' + (new Date()).toISOString().split('T')[0] + '</time>');
</script>
