<style>
.sidebar {
  background-color: #fff;
}
.sidebar ul {
  padding: 10px;
  text-align: center;
}
.sidebar li {
  padding: 10px;
  font-size: 14px;
  list-style: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: bottom;
}
.sidebar li a {
  color: #000;
  text-decoration: none;
}
.sidebar li img {
  display: block;
  margin: 0 auto 5px;
  filter: grayscale(100%);
}
.sidebar .slogan {
  padding-bottom: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 130%;
}
@media (max-width: 950px) {
  .sidebar li {
    display: inline-block;
  }
  .sidebar li:nth-child(2) img {
    margin-bottom: 15px;
  }
  .sidebar .slogan br {
    display: none;
  }
}
</style>

<div class="sidebar">
  <ul>
  <li>
    <a href="https://blog.naver.com/eheheehee" target="_blank">
      <img src="/assets/images/icon-blog.png" width="60" alt="네이버 블로그">
      블로그
    </a>
  </li>
  <li>
    <a href="https://youtube.com/channel/UCSAzxNNKAcuVJa1cBzoE2Tg" target="_blank">
      <img src="/assets/images/icon-youtube.png" width="60" alt="유튜브 채널">
      유튜브
    </a>
  </li>
  <li>
    <a href="https://pf.kakao.com/_LpxhJj" target="_blank">
      <img src="/assets/images/icon-kakao.png" width="60" alt="카카오 플러스친구">
      플러스친구
    </a>
  </li>
  </ul>
  <div class="slogan">
    무형자산평가<br>
    업무실적 1위
  </div>
</div>
