@charset "utf-8";

/* Base */
* {
  margin:0;
  padding:0;
}
body {
  background-color:#f0f0f0;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  text-size-adjust:none;
  -webkit-text-size-adjust:none;
}
img {
  border:none;
}
main {
  display:block;
  position:relative;
  width:950px;
  min-height:480px;
  margin:15px auto;
  background-color:#fff;
}
main > h2 {
  margin-left:50%;
  margin-right:25px;
  margin-bottom:15px;
  padding-top:20px;
}
main > h2:first-of-type {
  padding-top:50px;
}
main > p {
  margin-left:50%;
  margin-right:25px;
  margin-top:15px;
  margin-bottom:15px;
  color:#929292;
  line-height:140%;
}
main > p a {
  color:#929292;
  text-decoration:none;
}
main > p a:hover {
  text-decoration:underline;
}
main > ul {
  margin-left:50%;
  margin-right:25px;
  margin-top:15px;
  margin-bottom:15px;
}
main > ul li {
  color:#929292;
  list-style: none;
}
main > ul li:before {
  content:"·";
  display:inline-block;
  margin-right:5px;
}
@media (max-width: 950px) {
  main {
    width:auto;
    margin:15px;
  }
  main > h2 {
    margin-left:20px;
    margin-right:20px;
  }
  main > p {
    margin-left:20px;
    margin-right:20px;
  }
  main > p br {
    display:none;
  }
  main > ul {
    margin-left:20px;
    margin-right:20px;
  }
}
main .sidebar {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
}
@media (max-width: 950px) {
  main .sidebar {
    position: relative;
    top: 0;
    left: auto;
    margin-left: 0;
    padding-bottom: 30px;
  } 
}
