<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="google-site-verification" content=""> -->
  <meta name="naver-site-verification" content="45921fb3951154df412b47c77f48d0fb3bee0fa7">
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="canonical" href="{{ site.url }}">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:image" content="{{ site.url }}/assets/images/cover-buddies.png">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/default.css">
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <!--[if lt IE 9]>
  <script src="https://unpkg.com/html5shiv"></script>
  <![endif]-->
</head>
<body>
  {% include header.html %}
  <main>
    {{ content }}
    {% include sidebar.html %}
  </main>
  {% include articles.html %}
  {% include footer.html %}
</body>
</html>